html{
	scroll-behavior: smooth;
}
body{
	position:relative;
}
.social{
	padding: 5px;
}
.social:hover{
	color:white;
	transition:0.3s;
}
.logo{
	border-radius: 60%;
	width: 290px;
	height: 290px;
}
.sidelogo{
	margin-top: 2em;
	border-radius: 50%;
	height: 70px;
	width:70px;
}
.sidelogo:hover{
	border: 3px solid white;
	transition:0.3s;
}
.resume{
	font-size:30px;
	display: block;
	width: 400px;
	margin: auto;
	transition: 0.3s;
	background-color:rgb(136, 136, 136);
}
.transit{
	transition:0.3s;
}
.description{
	color: white;
	font-size: 1.5em;
	transition: 0.3s;
}
.w3-hover-blue{
	transition:0.3s;
}